[package]
name = "quick-rs"
version = "0.1.0"
edition = "2021"

[workspace]
members = ["quickjs-sys"]

[dependencies]
quickjs-sys = { path = "quickjs-sys" }
thiserror = { version = "1", default-features = false }
anyhow = { version = "1", default-features = false }
log = { version = "0.4", default-features = false }
once_cell = { version = "1", features = ["std"], default-features = false }
reqwest = { version = "0.11", features = [
    "blocking",
    "rustls-tls-webpki-roots",
], default-features = false }

